<%- include('header'); -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% if(ToDoListItems.length !=0) { %>

            <% ToDoListItems.forEach(element=> { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input onchange="this.form.submit()" name="checkBox" value=<%=element._id %>
                        type="checkbox" id=<%=element.TaskItem %>>
                            <label for=<%=element.TaskItem %>><p>
                                    <%=element.TaskItem%>
                                </p></label>
                            <input type="hidden" name="listName" value=<%=listTitle %>>
                    </div>
                </form>
                <% }); %>
                    <% } %>

                        <form class="item" action="/" method="post">
                            <input type="text" name="newItem" placeholder="New item.." autocomplete="off"
                                autofocus="autofocus">
                            <button type="submit" name="listname" value=<%-JSON.stringify(listTitle)%>>+</button>
                        </form>
    </div>

    <%- include('footer'); -%>